:root {
  font-size: 62.5%;

  --orange: #FFC700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;

  background: rgba(0,0,0,0.7);
  background-image: url("assets/image.jpg");
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover 100%;
  overflow: hidden;

  display: grid;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  animation: zoomOff 2s ease backwards;
}

@keyframes zoomOff {
  from {
    transform: scale(150%);
  }
}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
}

h3 > span {
  visibility: hidden;
  animation: fallDownLetter 0.5s ease backwards paused;
}

h1 {
  font-size: 6.4rem;
  font-family: "Emilys Candy", cursive;
  font-weight: 400;
  color: var(--orange);
  text-align: center;
  text-transform: uppercase;
}

h1 > span {
  visibility: hidden;
  animation: bounceInLetter 1s cubic-bezier(.47,2,.41,.8) backwards paused;
}

p {
  font-size: 2rem;
  color: rgba(255,255,255, 0.7);
}

p > span {
  visibility: hidden;
  animation: 1s ease backwards paused;
}

div {
  display: flex;
  column-gap: 1.6rem;
  margin-top: 6rem;
}

div > a {
  display: grid;
  place-items: center;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  width: 17.2rem;
  height: 4.8rem;
  font-size: 2rem;
  transition: background 150ms ease, color 150ms ease;
  visibility: hidden;
}

div > a:nth-child(1) {
  color: rgba(255,255,255, 0.6);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

div > a:nth-child(1):hover {
  background: rgba(255,255,255, 0.1);
  color: white;
}

div > a:nth-child(2) {
  background: var(--orange);
  color: black;
}

div > a:nth-child(2):hover {
  background: #fdd543;
}

/* Animations */
@keyframes fallDownLetter {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
}

@keyframes bounceInLetter {
  from {
    transform: scale(0) rotate(-30deg) rotateX(-90deg);
  }
}

@keyframes fallRotatingRightDownLetter {
  from {
    opacity: 0;
    transform: translateY(-20%) translateX(-70%) rotateY(-90deg);
  }
}

@keyframes fallRotatingRightUpLetter {
  from {
    opacity: 0;
    transform: translateY(-20%) translateX(70%) rotateZ(90deg);
  }
}

@keyframes fallRotatingDownLetter {
  from {
    opacity: 0;
    transform: translateY(-20%) rotateY(90deg);
  }
}

@keyframes fallRotatingUpLetter {
  from {
    opacity: 0;
    transform: translateY(20%) rotate(35deg);
  }
}